<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='home/css/style.css') }}">
<script src="{{ url_for('static',filename='home/js/jquery-1.11.0.min.js') }}"></script>
<script src="{{ url_for('static',filename='home/js/brand.js') }}"></script>
</head>
<body style="background:#f5f5f5;">
<div class="brand_box">

	<div class="brand_one">
    	<div class="brand_one_cen">
    		<img src="{{ url_for('static',filename='home/images/brand1.png') }}" class="brand_img"/>
        	<p class="brand_ple"><a class="brand_ple_a">托福</a><a>雅思</a><a>SAT</a><a>模考</a><a>线下培训</a><a>国际学校</a><a>名校游学</a></p>
            <p class="brand_pri"><a>登陆</a> | <a>注册</a></p>
        </div>
    </div>

    <div class="brand_two">
        <div class="banner">
            <ul></ul>
            <ol></ol>
            <div style="width:1200px; margin:0 auto; position:relative;">
                <i class="left"></i><i class="right"></i>
            </div>
        </div>
        <div class="brand_two_box">
            <div class="brand_two_cen">
                <dl class="brand_two_cen_dl">
                    <dt><img src="{{ url_for('static',filename='home/images/brand4.png') }}"/></dt>
                    <dd>
                        <p class="brand_two_cen_dl_p">专业教研团队</p>
                        <p class="brand_two_cen_dl_p1">名师为你保驾护航</p>
                    </dd>
                </dl>
                <div style="border-right:1px solid #d2d2d2; margin-top:45px; height:43px; float:left; margin-right:145px; margin-left:145px;"></div>
                <dl class="brand_two_cen_dl">
                    <dt><img src="{{ url_for('static',filename='home/images/brand5.png') }}"/></dt>
                    <dd>
                        <p class="brand_two_cen_dl_p">量身定制培训计划</p>
                        <p class="brand_two_cen_dl_p1">快速高效提分有保障</p>
                    </dd>
                </dl>
                 <div style="border-right:1px solid #d2d2d2; margin-top:45px; height:43px; float:left; margin-right:145px; margin-left:145px;"></div>
                <dl class="brand_two_cen_dl">
                    <dt><img src="{{ url_for('static',filename='home/images/brand6.png') }}"/></dt>
                    <dd>
                        <p class="brand_two_cen_dl_p">陪伴式的教与学</p>
                        <p class="brand_two_cen_dl_p1">成就学员的梦想</p>
                    </dd>
                </dl>
            </div>
        </div>
     </div>

	<div class="brand_three">
    	<p class="brand_three_p">留学培训，我们比你更了解你自己！<a>10万用户的选择，20万父母的安心，留学备考从这里开始</a></p>
        <dl class="brand_three_dl" style="margin-left:0;">
        	<dt><img src="{{ url_for('static',filename='home/images/brand7_03.jpg') }}"/></dt>
            <dd>
            	<span class="brand_three_dl_span">TOEFL</span>
                <p class="brand_three_dl_p">在线TPO真题，100%仿真模考，全名师授课，订制个性化备考方案</p>
                <a class="brand_three_dl_a">点击进入>></a>
            </dd>
        </dl>
        <dl class="brand_three_dl">
        	<dt><img src="{{ url_for('static',filename='home/images/brand7_04.jpg') }}"/></dt>
            <dd>
            	<span class="brand_three_dl_span">IELTS</span>
                <p class="brand_three_dl_p">听说读写专项突破，备考方案实战指导，权威高频题目收录！</p>
                <a class="brand_three_dl_a" style="background:#f5ca2d;">点击进入>></a>
            </dd>
        </dl>
        <dl class="brand_three_dl">
        	<dt><img src="{{ url_for('static',filename='home/images/brand7_05.jpg') }}"/></dt>
            <dd>
            	<span class="brand_three_dl_span">机经库</span>
                <p class="brand_three_dl_p">出国备考加油站，及时把握考试动态，机经资料海量下载！</p>
                <a class="brand_three_dl_a" style="background:#5fcfb9;">点击进入>></a>
            </dd>
        </dl>
        <dl class="brand_three_dl">
        	<dt><img src="{{ url_for('static',filename='home/images/brand7_06.jpg') }}"/></dt>
            <dd>
            	<span class="brand_three_dl_span">在线模考</span>
                <p class="brand_three_dl_p">出国备考加油站，及时把握考试动态，机经资料海量下载！</p>
                <a class="brand_three_dl_a" style="background:#dabd7b;">点击进入>></a>
            </dd>
        </dl>
    </div>

    <div class="brand_four">
    	<p class="brand_three_p">科学高效提分，我们让你成为更好的自己！<a>科学的备考方法，高效的教学体系，你的高分不再是梦想</a></p>
        <dl class="brand_four_dl" style="margin-left:0;">
        	<dt><img src="{{ url_for('static',filename='home/images/brand8_03.jpg') }}"/></dt>
            <dd>一站式服务</dd>
        </dl>
        <dl class="brand_four_dl">
        	<dt><img src="{{ url_for('static',filename='home/images/brand8_04.jpg') }}"/></dt>
            <dd>百名资深全职教师</dd>
        </dl>
        <dl class="brand_four_dl">
        	<dt><img src="{{ url_for('static',filename='home/images/brand8_05.jpg') }}"/></dt>
            <dd>最好的在线课程</dd>
        </dl>
	</div>

     <div class="brand_five">
        <p class="brand_three_p">实力成就梦想，在这里你可以遇见未知的自己！<a>有实力才可以谈梦想，我们的梦想就是让每一位学员实现自己的梦想</a></p>
        <div id="tab03">
			<h3>牵手腾讯 独家合作<p>广告做的再多，也不如用实力证明一切</p></h3>
			<div class="tab"><a href="#"><img src="{{ url_for('static',filename='home/images/brand9.jpg') }}"/></a></div>
			<h3>独家出版 权威力作<p>外朗教研中心，潜心研究实力打造</p></h3>
			<div class="tab"><a href="#"><img src="{{ url_for('static',filename='home/images/brand9.jpg') }}"/></a></div>
			<h3>企业荣誉 媒体合作<p>荣誉已然成为过去，接下我们会更努力</p></h3>
			<div class="tab"><a href="#"><img src="{{ url_for('static',filename='home/images/brand9.jpg') }}"/></a></div>
   		</div>
	</div>

    <div class="brand_six">
    	<p class="brand_six_p"><a>关于我们</a>　|　<a>联系我们</a>　|　<a>版权声明</a>　|　<a>服务条款</a>　|　<a>意见反馈</a>　|　<a>诚聘精英</a></p>
    	<p class="brand_six_p1">Copyright © 2014 北京外朗教育科技有限公司 All Rights Reserved.　京ICP备13041889</p>
    </div>

</div>
<script>
/*滑动*/
	function Pid(id,tag){
		if(!tag){
			return document.getElementById(id);
			}
		else{
			return document.getElementById(id).getElementsByTagName(tag);
			}
	}

	function tab(id,hx,box,iClass,s,pr){
		var hxs=Pid(id,hx);
		var boxs=Pid(id,box);
		if(!iClass){ // 如果不指定class，则：
			boxsClass=boxs; // 直接使用box作为容器
		}
		else{ // 如果指定class，则：
			var boxsClass = [];
			for(i=0;i<boxs.length;i++){
				if(boxs[i].className.match(/\btab\b/)){// 判断容器的class匹配
					boxsClass.push(boxs[i]);
				}
			}
		}
		if(!pr){ // 如果不指定预展开容器，则：
			go_to(0); // 默认展开序列
			yy();
		}
		else {
			go_to(pr);
			yy();
		}
		function yy(){
			for(var i=0;i<hxs.length;i++){
				hxs[i].temp=i;
				if(!s){// 如果不指定事件，则：
					s="onmouseover"; // 使用默认事件
					hxs[i][s]=function(){
						go_to(this.temp);
					}
				}
				else{
					hxs[i][s]=function(){
						go_to(this.temp);
					}
				}
			}
		}
		function go_to(pr){
			for(var i=0;i<hxs.length;i++){
				if(!hxs[i].tmpClass){
					hxs[i].tmpClass=hxs[i].className+=" ";
					boxsClass[i].tmpClass=boxsClass[i].className+=" ";
				}
				if(pr==i){
					hxs[i].className+=" up"; // 展开状态：标题
					boxsClass[i].className+=" up"; // 展开状态：容器
				}
				else {
					hxs[i].className=hxs[i].tmpClass;
					boxsClass[i].className=boxsClass[i].tmpClass;
				}
			}
		}
	}
	tab("tab03","h3","div","tab");

</script>
</body>
</html>
